/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

:not([data-theme='dark']) .navbar__logo img {
  filter: drop-shadow(1.5px 1.5px 0.1rem #00000090);
}

.install-btn-container {
  position: relative;
}

.Modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.card--modal {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card--modal .card__header {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-font-color-base-inverse);
  padding-bottom: 4px;
}

.card--modal .card__header .h3 {
  display: block;
  top: -5px;
}

img {
  aspect-ratio: auto;
  height: auto;
}

.discordLink {
  display: block;
  height: 2em;
  object-fit: cover;
  padding: 0.1em;
}

img.button {
  /*aspect-ratio: auto;*/

  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.button-group + .button-group {
  margin-top: 1em;
}