.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

div.featureImage {
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
}

div.featureImage img {
}