/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1.8rem 0 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

@media screen and (max-width: 996px) {
  .buttons {
    grid-auto-flow: row;
  }
}

div.logo {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}