/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1.8rem 0 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
    margin-right: 1rem;
    margin-left: 1rem;
}

div.logo {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}