VisualElement {

}

.avatarHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.ErrorElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    margin: 2px;
}

.ErrorElement > Image {
    width: 32px;
    height: 32px;
}

.ErrorElement Box {
    flex: 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px;
    margin: 2px;
    border-width: 0 0 0 0;
}

#logo {
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 0;
    border-bottom-width: 1px;
}


.ErrorElement Box Label {
    white-space: normal; /* word wrap??? */
}

.selection-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-width: 0 0 0 0;
}

.selection-button > Image {
    width: 16px;
    height: 16px;
}

#no-errors {
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    border-width: 0;
}

#no-errors Label {
    align-self: center;
}

.avatarBox {
    border-width: 0;
    min-height: 100%;
}

#Root {
    border-width: 0;
    width: 100%;
    height: 100%;
}