#  MIT License
#
#  Copyright (c) 2022 anatawa12
#  Copyright (c) 2022 bd_
#
#  Permission is hereby granted, free of charge, to any person obtaining a copy
#  of this software and associated documentation files (the "Software"), to deal
#  in the Software without restriction, including without limitation the rights
#  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
#  copies of the Software, and to permit persons to whom the Software is
#  furnished to do so, subject to the following conditions:
#
#  The above copyright notice and this permission notice shall be included in all
#  copies or substantial portions of the Software.
#
#  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
#  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
#  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
#  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
#  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
#  SOFTWARE.


name: GameCI

on:
  push:
    branches: [main, dev, ci, refactor-structure]
  # This is a bit of a radioactive event; we need to be very careful with what permissions
  # we assign this action, as we're allowing arbitrary code execution with the context of
  # whatever permissions we assign.
  pull_request_target: {}
  workflow_dispatch: {}
  workflow_call:
    secrets:
      UNITY_LICENSE:
        required: true

# pull_request_target grants access to a privileged GITHUB_TOKEN by default, revoke this
permissions: {}

jobs:
  build-and-test:
    name: Unit tests
    strategy:
      matrix:
        unity_major_version: [ 2022 ]
        sdk: [ vrcsdk, standalone ]
        testmode: [ All ]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - id: configure
        name: Configure
        env:
          unity_major_version: ${{ matrix.unity_major_version }}
        run: |
          if [ $unity_major_version == 2019 ]; then
            echo "unity_version=2019.4.31f1" >> $GITHUB_OUTPUT
          elif [ $unity_major_version == 2022 ]; then
            echo "unity_version=2022.3.6f1" >> $GITHUB_OUTPUT
          else
            echo "Invalid unity_major_version: $unity_major_version"
            exit 1
          fi 
      - id: setup
        name: Setup
        env:
          unity_version: ${{ steps.configure.outputs.unity_version }}
          sdk: ${{ matrix.sdk }}
        run: |
          set -x
          
          sudo apt-get update && sudo apt-get -y install libxml2-utils xmlstarlet # xmllint

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - id: prepare-project
        name: Prepare project
        run: |
          mkdir .github/ProjectRoot/Packages/nadena.dev.modular-avatar -p
          mv * .github/ProjectRoot/Packages/nadena.dev.modular-avatar
          mv .github/ProjectRoot/* .
          mv 'Packages/nadena.dev.modular-avatar/UnitTests~' 'Packages/nadena.dev.modular-avatar/UnitTests'
          ls -l
          for i in packages-lock manifest vpm-manifest; do
            if [ -e "$i-${{ matrix.unity_major_version }}-${{ matrix.sdk }}.json" ]; then
              mv "$i-${{ matrix.unity_major_version }}-${{ matrix.sdk }}.json" Packages/$i.json -v
            elif [ -e "$i-${{ matrix.unity_major_version }}.json" ]; then
              mv "$i-${{ matrix.unity_major_version }}.json" Packages/$i.json -v
            fi
          done

      - uses: anatawa12/sh-actions/setup-vrc-get@master

      - name: Resolve packages
        run: |
          vrc-get repo add -- "https://vpm.nadena.dev/vpm-prerelease.json" || true
          vrc-get repo add -- "https://vrchat.github.io/packages/index.json?download" || true
          vrc-get resolve --project .
          vrc-get info project --project .

      - name: "Debug: List project contents"
        run: |
          ls -lR
          ls -lR Packages/nadena*
          
      - id: prepare-standalone
        if: ${{ matrix.sdk == 'standalone' }}
        name: Prepare standalone environment
        run: |
          mv Packages/nadena.dev.ndmf/Dependencies~ Packages/nadena.dev.ndmf/Dependencies
          if ! [ -e Packages/nadena.dev.modular-avatar/UnitTests/GenericTests ]; then
            rm -rf Packages/nadena.dev.modular-avatar/UnitTests # tests are not supported in standalone yet
          fi

      - name: "Debug: List package versions"
        run: |
          for i in Packages/*/package.json; do
            echo $i
            cat $i | jq .version
          done

      - uses: actions/cache@v5
        with:
          path: Library
          key: Library-${{ steps.configure.outputs.unity_version }}-${{ matrix.sdk }}
          restore-keys: |
            Library-${{ steps.configure.outputs.unity_version }}-${{ matrix.sdk }}
            Library-${{ steps.configure.outputs.unity_version }}

      - uses: game-ci/unity-test-runner@v3
        id: gameci
        env:
          # meh, just a personal license...
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          testMode: ${{ matrix.testmode }}
          unityVersion: ${{ steps.configure.outputs.unity_version }}
          githubToken: ${{ github.token }}
          coverageOptions: generateAdditionalMetrics;generateHtmlReport;generateBadgeReport;assemblyFilters:+nadena.dev.*
          customParameters: -assemblyNames "Tests;nadena.dev.modular-avatar.tests;nadena.dev.modular-avatar.tests.vrchat;nadena.dev.modular-avatar.tests.playmode"
          checkName: ${{ steps.setup.outputs.check_name }}

      - uses: dorny/test-reporter@v2
        if: ${{ matrix.testmode != 'EditMode' }}
        with:
          reporter: dotnet-nunit
          name: PlayMode Tests
          fail-on-empty: ${{ matrix.sdk == 'vrcsdk' }}
          path: ${{ steps.gameci.outputs.artifactsPath }}/playmode-results.xml

      - uses: dorny/test-reporter@v2
        if: ${{ matrix.testmode != 'PlayMode' }}
        with:
          reporter: dotnet-nunit
          name: EditMode Tests
          fail-on-empty: ${{ matrix.sdk == 'vrcsdk' }}
          path: ${{ steps.gameci.outputs.artifactsPath }}/editmode-results.xml

      - name: List compile errors
        continue-on-error: true
        if: failure()
        run: |
          perl -ne '$out = 0 if /^#####|^-----EndCompilerOutput/; $out = 1 if /^##### Output|^-----CompilerOutput/; print if $out;' ${{ steps.gameci.outputs.artifactsPath }}/editmode.log

      - name: List compiler warnings
        if: true
        run: |
          grep ': warning CS' ${{ steps.gameci.outputs.artifactsPath }}/editmode.log || true
          
      - name: List test failures
        continue-on-error: true
        if: failure()
        run: |
          if [ -e ${{ steps.gameci.outputs.artifactsPath }}/editmode-results.xml ]; then
            xmllint  --pretty 2 --nocompact  --xpath '//test-case[@result!="Passed"]'  ${{ steps.gameci.outputs.artifactsPath }}/editmode-results.xml
          fi

      - uses: actions/upload-artifact@v6
        continue-on-error: true
        with:
          name: Coverage results ${{ steps.configure.outputs.unity_version }} ${{ matrix.sdk }}
          path: ${{ steps.gameci.outputs.coveragePath }}
